@use "./themes.module.scss" as themes;

.container {
  width: 100vw;
  height: 100vh;
  font-family: themes.$font-family;
  color: themes.$font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credits {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  .link {
    font-weight: bold;
    color: themes.$primary-color;
    white-space: pre;
    text-decoration: none;
  }
}
